@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Gowun+Batang:wght@400;700&display=swap');

:root {
  --nav_green: #009a3b;
  --nav_hover: rgb(90, 139, 89);
  --session_green: rgba(216, 227, 152, .4);
  --btn-success: #22ac46;
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-success {
  background-color: var(--btn-success);
  border: none;
}

/* Google fonts */
.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-family: SourceSansRegular, Arial, Verdana, Geneva, Tahoma, sans-serif;
  color: #607D8B;
}

.main-container {
  max-width: 1320px;
  margin: auto;
}

header .btn-success {
  border-radius: 0px;
}

 /* Navbar  */
.navbar {
  border-top: 8px solid var(--nav_green);
}

  .navbar-brand, .nav-link, .nav-link:hover {
    color: var(--nav_green);
  }

  .navbar-brand img {
      max-height: 55px; 
      height: auto;     /* Maintain aspect ratio */
      width: auto;      /* Optional to prevent width distortion */
    }
  
  .navbar-nav .nav-link.active {
    color: rgb(37 129 70);
    font-weight: 600;
  } 

  .navbar-brand:hover {
    color: var(--nav_hover);
  }

  .nav-link:hover {
    color: var(--nav_hover);
  }

/* Hero Container */
.hero-container {
  position: relative;
  height: 100vh; /* Set to 100vh for full height */
  overflow: hidden;
}

/* Hero */
.hero {
  position: absolute;
  width: 100vw;
  padding-bottom: 36.25%; /*  16:9 Aspect Ratio (9/16 = 0.5625 * 100)  */
  height: 100vh;
}

/* Hero Image */
.hero img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* object-position: 17% top; */
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-family: serif;
  color: white;
  background-color: #76594261;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Card Positioning */
/* .card {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 25vw;
  max-width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  padding: 15px; 
  color: #607D8B;
} */

.img-design {
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 4px 5px 20px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 600px;
}


.cooking-demo {
  color: var(--nav_green);
  text-decoration: none;
}

h1, h2, h3{
    color: var(--nav_green);
}

.d-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buy_thermomix {
  position: relative;
}

/* position the btns in the center of the image */
.buy_thermomix-img { 
  position: relative;
}

.buy_thermomix img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  max-height: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.buy_thermomix-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
  background-color: var(--nav_green);
  color: white;
  padding: 20px;
  font-size: 0.9rem;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 1.5rem
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
}

.container, .row, .col {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}

/* Book Demo CSS */
.card-title {
  color: var(--nav_green);
}

.card-book-demo {
  max-width: 80vw;
  top: -150px;
  border-radius: 50px;
  text-wrap: balance;
  border: 0;
  background: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-control::placeholder {
  opacity: .6;
}

.how_it_works {
  margin-top: -80px;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav_green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
}


/* Left Background Colors */
/* .left-bg-color {
    padding: 20px; 
  } */
  
  /* Full Height for Flexbox Layout */
  /* .full-height {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;
  } */
/*   
  .full-height img {
    border-radius: 5px;
  } */

  /* Navbar links  */
  /* .navbar-brand, .nav-link, .nav-link:hover {
    color: var(--nav_green);
  } */

  /* .navbar-nav .nav-link.active {
    color: rgb(37 129 70);
    font-weight: 600;
  } */

  /* .navbar-brand:hover {
    color: var(--nav_hover);
  } */

  /* .nav-link:hover {
    color: var(--nav_hover);
  } */

/* Session Videos */
  /* .videos {
    background-color: var(--session_green);
    
  } */

  @media (max-width: 768px) {
    .card {
      width: 80vw; /* Wider on smaller screens */
      top: -40vw /* Adjust top position */
    }
  }
