@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Gowun+Batang:wght@400;700&display=swap');

:root {
  --nav_green: #005c23 ;
  --nav_hover: rgb(90, 139, 89);
  --session_green: rgba(216, 227, 152, .4);
  --bg-colour: #f8f9fa;
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 0 0 20px;
}

button a {
  text-decoration: none;
  color: white;
}

/* Google fonts */
.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-family: SourceSansRegular, Arial, Verdana, Geneva, Tahoma, sans-serif;
  color: #455E63;
}

.main-container {
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
}

video {
  max-width: 100%;
  height: auto;
}

/* Navbar  */
.navbar {
  border-top: 8px solid var(--nav_green);
}

.navbar-brand,
.nav-link,
.nav-link:hover {
  color: var(--nav_green);
}

.navbar-brand img {
  max-height: 55px;
  height: auto;
  width: auto;
}

.navbar-nav .nav-link.active {
  color: rgb(37 129 70);
  font-weight: 600;
}

.navbar-brand:hover {
  color: var(--nav_hover);
}

.nav-link:hover {
  color: var(--nav_hover);
}

/* Hero Container */
.hero-container {
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
}

/* Hero */
.hero {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* Hero Image */
.hero img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  box-shadow: 0px 5px 11px 0px rgba(180, 181, 179, 0.73);
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-family: serif;
  color: white;
  background-color: #76594261;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
}

.hero-heading__thank-you {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-family: serif;
    color: #084d1c;
    background-color: #f1f1f1b5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1.2rem;
}

.img-fluid {
  width: 500px;
}

.img-meet-your-advisor {
  height: 400px;
  object-fit: contain;
}

.img-design {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 5px 20px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cooking-demo {
  color: var(--nav_green);
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
}

h1,
h2,
h3 {
  color: var(--nav_green);
  margin: 1.5rem 0;
}

.d-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buy_thermomix {
  position: relative;
}

/* position the btns in the center of the image */
.buy_thermomix-img {
  position: relative;
}

.buy_thermomix img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  max-height: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.buy_thermomix-btn {
  position: absolute;
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
  background-color: var(--nav_green);
  color: white;
  padding: 20px;
  font-size: 0.9rem;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Min-Height for video about me page */
.min-Height {
  min-height: 420px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
}

.container,
.row,
.col {
  max-width: 100%;
  margin: 0 auto;
}

/* Book Demo CSS */
.card-title {
  color: var(--nav_green);
}


.card-top {

  bottom: 15vh;
  border-radius: 50px 50px 5px 5px;
  border: 0;
  background: var(--bg-colour);
  box-shadow: 0px 0px 1px 2px rgba(20, 20, 20, -0.8);
}

.form-control::placeholder {
  color: #a1a1a1;
}

.how_it_works {
  margin-top: -7rem;
}

/* Section buy_thermomix */
.after-sale-suport {
  background-color: var(--bg-colour);
}

.bg-colour {
  background-color: var(--bg-colour);
  margin-bottom: 2rem;
}

.toggle-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: max-height 0.5s ease, opacity 0.5s ease;
  padding-top: 15px;   /* Padding to prevent jump */
  margin-bottom: 15px; /* Add margin to keep spacing */
}

.show-content {
  max-height: 800px;
  opacity: 1;
}

.modal {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.modal-header h1 {
  padding-left: 10vw;
}

.modal img {
  max-width: 450px;
  height: 310px;
}

.modal-small-heading {
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-size: 1.1rem;
  font-style: normal;
  color: var(--nav_green);
}

.modal-li-align-left li {
  text-align: initial;
}

.modal-flag-btn button {
  background-color: var(--bg-colour);
  border: none;
}

/* key frame Animation */
.js-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.1s ease-out;
  /* Smooth fade and slide */
}

.scrolled {
  opacity: 1;
  transform: translateY(0);
  /* Reset position */
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translate(-100px);
    transform: translate(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translate(100px);
    transform: translate(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .contact {
    margin-bottom: -120px;
  }

  .card-body {
    margin-top: -15px;
  }

  .col-md-6 {
    padding-top: 1.5rem;
  }

  .modal img {
    max-width: 80vw;
    min-height: 275px;
    height: auto;
  }
}

@media (max-width: 576px) {
  #thermomixButtons {
    display: none;
  }

  /* Min-Height for video about me page */
  .min-Height {
    min-height: 250px;
  }
}