<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Book a Thermomix Cooking Demo</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Alina's TM6</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Buy Thermomix</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="demo.html">Book Demo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- hero image -->
        <div class="hero-container shadow">
            <div class="hero">
                <img src="/static/img/hero-img.jpeg" alt="hero img" class="img-fluid">
            </div>
        </div>
    </header>
    <section>
        <div class="card card-book-demo mx-auto text-center">
            <h1 class="card-title m-3 gowun-batang-regular">Book a Demo</h1>
            <div class="card-body">
                    <div class="row">
                    <div class="col-md-6 d-flex">
                        <p>
                            <em>Having a <b>Thermomix® Advisor</b> means you’re not just buying a kitchen appliance; you’re
                                gaining
                                a
                                dedicated
                                support partner.</em>
                        <p>I’ll assist you from the moment you purchase your TM6, guiding you on how to use it
                            effectively, helping you navigate the <a href="https://cookidoo.co.uk/foundation/en-GB"
                                class="cooking-demo" target="_blank">Cookidoo Recipe Platform</a>, and inviting you to
                            exclusive
                            cooking
                            classes.
                        </p>
                        <p>Whether you need recipe tips or ongoing advice, I'm here to ensure you make the most of your
                            investment and enjoy a rewarding culinary journey! <br><br>

                            Join me,<em class="cooking-demo">Your Thermomix Advisor</em> for a cooking demo</span> and
                            discover how
                            the
                            Thermomix can transform your cooking experience today!</p>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/img/buy_tm6.jpeg" class="card-img-top img-design" alt="card image">
                    </div>

                    <!-- Book a demo Form -->
                    <form action="book_demo">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                                    placeholder="Leave a message..."></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="how_it_works text-center">
        <h2>How it Works</h2>
    </section>

    <!-- Footer -->
  <footer class="tex-white mx-auto text-center py-4">
    <section class="footer">
      <h4 class="m-3">Have Questions? Ready to Book a Demo or Purchase?</h4>
      <p>
        I’m here to assist! Whether you’re looking for more information, want to schedule a live cooking demo, or are ready to buy, feel free to get in touch.
      </p>
      <p>
        Simply click the WhatsApp button below, and I’ll be happy to help you on your Thermomix® journey.
      </p>
      <div>
        <a aria-label="Chat on WhatsApp" href="https://wa.me/07939304191" target="_blank">
          <img alt="Chat on WhatsApp" src="/static/img/WhatsAppButtonWhiteSmall.svg" />
        </a>
      </div>
    </section>
    <!-- Footter links  -->
    <div class="footer-links">
      <a href="/recipes.html">Recipes</a> | 
      <a href="/buy.html">Buy Thermomix</a> | 
      <a href="/demo.html">Book a Demo</a>
    </div>
    <p>&copy; 2024 Alina's Thermomix Advisor - All rights reserved.</p>
  </footer>
</body>

</html>